.container {
    display: grid;
    grid-template-areas: 
        "num-7 num-8 num-9 op-div"
        "num-4 num-5 num-6 op-mul"
        "num-1 num-2 num-3 op-sub"
        "num-0 num-dot op-eq op-sum";
    gap: 8px;
}


.btn {
    display: flex;
    justify-content: center;
    padding: 8px;
    border-radius: 25%;
    border: none;
    background-color: whitesmoke;
}
.op-sum {
    grid-area: op-sum;
}
.op-sub {
    grid-area: op-sub;
}
.op-mul {
    grid-area: op-mul;
}
.op-div {
    grid-area: op-div;
}
.op-eq {
    grid-area: op-eq;
}
.num-dot {
    grid-area: num-dot;
}
.num-0 {
    grid-area: num-0;
}
.num-1 {
    grid-area: num-1;
}
.num-2 {
    grid-area: num-2;
}
.num-3 {
    grid-area: num-3;
}
.num-4 {
    grid-area: num-4;
}
.num-5 {
    grid-area: num-5;
}
.num-6 {
    grid-area: num-6;
}
.num-7 {
    grid-area: num-7;
}
.num-8 {
    grid-area: num-8;
}
.num-9 {
    grid-area: num-9;
}